// .bootstrap-tagsinput {
//     background-color: #fff;
//     border: 1px solid #ccc;
//     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//     display: block;
//     padding: 4px 6px;
//     color: #555;
//     vertical-align: middle;
//     border-radius: 4px;
//     max-width: 100%;
//     line-height: 22px;
//     cursor: text;
// }
// .bootstrap-tagsinput input {
//     border: none;
//     box-shadow: none;
//     outline: none;
//     background-color: transparent;
//     padding: 0 6px;
//     margin: 0;
//     width: auto;
//     max-width: inherit;
// }
.example-chip-list {
    width: 100%;
  }
  
  .mat-basic-chip {
    display: inline-block;
    clear: right;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1vh;
    padding: 0.7vh 0vh 0.7vh 0.7vh;
    margin-right: 2vh;
    margin-top: 1vh;
    min-width: 15vh;
  }